.header-style {
	text-align: -webkit-center;
	background-color: rgb(51, 181, 229);
	color: #fff!important;
	font-weight: bold;
}

.a-style {
    color: #000000 !important;
    text-decoration: none;
}